
<div style="border:2px solid steelblue;padding:30px;width:80%;margin:auto;background-color:blanchedalmond;color:black;font-size:20px;border-radius:10px;">
 <p style="text-align:center;"> Home Page </p>
</div>
<br>
<br>
<div style="width:80%;margin:auto;">
<div style="width:30%;margin:auto;float:left;background-color:blanchedalmond;border:1px solid steelblue;border-radius:5px;text-align:center;">

  <a routerLink="/home"> Home </a> <br> <br>
  <a routerLink="/contactus"> Contact-Us </a> <br> <br>
  <a routerLink="/aboutus"> About-Us </a> <br> <br>
  <a routerLink="/login"> Login </a> <br> <br>
 
</div>
<div style="width:68%;height:200px;padding:50px;text-align:center;margin:auto;float:right;background-color:blanchedalmond;border:1px solid steelblue;border-radius:5px;">

<router-outlet></router-outlet>

</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div style="border:2px solid steelblue;padding:30px;width:80%;margin:auto;background-color:blanchedalmond;color:black;font-size:20px;border-radius:10px;">
  <p style="text-align:center;"> Footer </p>
 </div>